<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Flight Booker, <%= @passenger.name %></h1>
    <p>
      You have successfully booked a flight !
      your booking id is : <%= @passenger.booking_id %>.<br>
    </p>
    <p> Have a great day!</p>
  </body>
</html>
