<%= form_with url: new_booking_path , method: :get do |f| %>
    <div class="control">
        <%= f.hidden_field :num_tickets, value: params[:num_tickets] %>
        <%= f.radio_button :flight_id, flight.id %>
        <%= f.label 'flight_id', flight.id, class:'radio' %>
    </div>
<% end %>