<div class="card">
    <header class="card-header">
        <p class="card-header-title is-centered">
        Flight Number : <%= flight.id %>
        </p>
    </header>
    <div class="card-content">
        <p class="content">
            <b>From Airport :</b> <%= flight.departure_airport.code %>
        </p>
        <p class="content">
            <b>To Airport : </b><%= flight.arrival_airport.code %>
        </p>
        <p class="content">
            <b>Flying At :</b> <%= flight.start %>
        </p>
    </div>
</div>